


<div class="text-center">
    <h1 class="display-4">Welcome To Products page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="mt-4">
             Here is all products
    </div>
</div>
