@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div class="mt-4">
        <a href="/Students/Index" class="btn btn-primary">Show Student List</a>
        <a href="/Students/Create" class="btn btn-success">Add New Student</a>
    </div>
</div>
