@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="display-4">Welcome to Our Home Page</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod semper mauris, ac tincidunt est lacinia id.</p>
            <img src="~/images/hero-image.png" class="img-fluid rounded-top" alt="Hero image">
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="~/images/image2.webp" class="card-img-top" alt="Product image">
                <div class="card-body">
                    <h5 class="card-title">Product Title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4 offset-md-4">
            <button class="btn btn-primary btn-block">Become a Wholesale Partner</button>
            <button class="btn btn-secondary btn-block mt-2">Wholesale Pricing List</button>
        </div>
    </div>
</div>
